In [6]:
import networkx as nx

graph = nx.Graph()

while True:
    ch = int(input("enter choice (1 to enter edge and 0 to exit): "))
    if ch == 1:
        n1 = input("enter first node: ").strip().upper()
        n2 = input("enter second node: ").strip().upper()
        wt = int(input("enter weight: "))
        graph.add_edge(n1, n2, weight=wt)
    else:
        break

print("\ngraph connections")
for node, neighbour in graph.adj.items():
    print(node, "-->", {n: d["weight"] for n, d in neighbour.items()})

start = input("\nenter start node: ").strip().upper()
goal = input("enter goal node: ").strip().upper()

heuristic_values = {}
heuristic_values[goal] = 0

print("\nEnter heuristic values")
for node in graph.nodes():
    if node != goal:
        h = int(input(f"enter heuristic value for {node}: "))
        heuristic_values[node] = h

def get_heuristic(u, v):
    return heuristic_values[u]

path = nx.astar_path(graph, start, goal, heuristic=get_heuristic, weight="weight")
total_cost = nx.astar_path_length(graph, start, goal, heuristic=get_heuristic, weight="weight")

print("\nShortest path:", " -> ".join(path))
print("Total cost:", total_cost)

enter choice (1 to enter edge and 0 to exit):  1
enter first node:  A
enter second node:  B
enter weight:  2
enter choice (1 to enter edge and 0 to exit):  1
enter first node:  A
enter second node:  C
enter weight:  3
enter choice (1 to enter edge and 0 to exit):  1
enter first node:  B
enter second node:  D
enter weight:  3
enter choice (1 to enter edge and 0 to exit):  11

graph connections
A --> {'B': 2, 'C': 3}
B --> {'A': 2, 'D': 3}
C --> {'A': 3}
D --> {'B': 3}

enter start node:  A
enter goal node:  D

Enter heuristic values

enter heuristic value for A:  1
enter heuristic value for B:  2
enter heuristic value for C:  3

Shortest path: A -> B -> D
Total cost: 5

In [11]:
import pandas as pd
import numpy as np

data = {
    "age": np.random.randint(18, 60, 100),
    "salary": np.random.randint(20000, 100000, 100),
    "score": np.random.uniform(0, 100, 100).round(2),
    "department": np.random.choice(["IT", "HR", "Sales", "Finance", "Marketing"], 100),
    "experience_years": np.random.randint(0, 20, 100)
}

df = pd.DataFrame(data)

df

    age  salary  score department  experience_years
0    55   32976  81.73    Finance                 2
1    57   53082  38.31  Marketing                11
2    19   52347  82.21         HR                17
3    50   53050  79.52         IT                 8
4    31   71387  65.15  Marketing                12
..  ...     ...    ...        ...               ...
95   46   94698  92.73      Sales                15
96   47   61600  18.61         IT                 5
97   32   73496  59.46      Sales                17
98   25   85357  90.31    Finance                 8
99   59   75937  19.42  Marketing                 9

[100 rows x 5 columns]

In [13]:
x= df["salary"]
u = df["salary"].mean()
y= df["salary"].std()
for i in x:
    z= (i-u)/y
print(z.round(2))

0.7